body{
    background-color: #F0F0F0;
}
#main{
    width: 1000px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
#icon_div{
    width: 350px;
    height: auto;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
#icon{
    width: 48px;
    height: 48px;
    margin: 10px 10px 10px 10px;
}
#topic_div{
    margin-top: 30px;
    width: 350px;
    border-radius: 10px;
    background-color: #FFFFFF;
}
.topic{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}